.sidebar-navigation-shown {
  #main-outlet {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-column-gap: 1em;
    grid-row-gap: 3px;
    @media screen and (max-width: 960px) {
      grid-template-columns: 25% 75%;
    }
    @media screen and (max-width: 720px) {
      grid-template-columns: 1fr;
      .category-sidebar-outlet {
        display: none;
      }
    }
    grid-template-areas: "sidebar navigation" "sidebar content";
    grid-template-rows: 65px 1fr;
    .category-sidebar-outlet {
      grid-area: sidebar;
    }

    .list-controls {
      grid-area: navigation;
    }

    .list-container {
      grid-area: content;
    }
  }
  #main-container + .container,
  #main-container + .reviewable,
  #main-container + .discourse-post-event-upcoming-events,
  #main-container + div {
    grid-row-start: navigation;
    grid-row-end: content;
  }
  &.category:not(.forza-hero-home):not(.categories-list) #main-outlet {
    grid-template-rows: 120px 1fr;
  }
}

.category-sidebar-outlet {
  max-height: calc(100vh - var(--header-offset) - 18.5em);
  overflow-y: scroll;
  scrollbar-color: var(--primary-low-mid) transparent;
  position: sticky;
  top: var(var(--header-offset) + 2em);
  &::-webkit-scrollbar-thumb {
    background-color: var(--primary-low);
    border-radius: 8px;
    border: 4px solid var(--secondary);
  }
  &::-webkit-scrollbar {
    width: 16px;
  }
}

.category-sidebar {
  &-list {
    margin: 0;
    list-style: none;
    &-item {
      &-link {
        background: var(--primary-low);
        padding: 0.75em;
        &.subcategory-item {
          padding-left: 1.5em;
          .sidebar-category-badge {
            width: calc(0.5em - 2px);
            height: calc(0.5em - 2px);
            border-radius: 2px;
            margin-right: 0.5em;
          }
        }
        display: flex;
        align-items: center;
        color: var(--primary-high);
        text-transform: capitalize;
        border-bottom: 1px solid var(--secondary);
        .sidebar-category-badge {
          width: 0.5em;
          height: 0.5em;
          border-radius: 2px;
          margin-right: 0.5em;
        }
        &:visited {
          color: var(--primary-high);
          &:hover {
            color: var(--primary);
          }
        }
        &:hover,
        &.active {
          background: rgba(var(--primary-rgb), 0.25);
          color: var(--primary);
        }
      }
    }
  }
}
